<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<h1>New game</h1>
<div class="container">
<% @letters.each do |letter|%>
  <div class="card"><%=p letter%></div>
<%end%>
</div>
<form novalidate="novalidate" class="simple_form search" action="score" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="attempt" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Submit
    </button>
  </div>
</form>
